RewriteEngine On
RewriteBase /

# Перенаправление с page/index.html на page/
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^([^.]+)\.html$ smolskii.com/$1 [R=301,L]
RewriteCond %{REQUEST_URI} !(\.[^./]+)$
RewriteCond %{REQUEST_fileNAME} !-d
RewriteCond %{REQUEST_fileNAME} !-f
RewriteRule (.*) /$1.html

# Перенаправление с www на https:/
RewriteCond %{HTTP_HOST} ^www.smolskii.com$ [NC]
RewriteRule ^(.*)$ https://smolskii.com/$1 [R=301,L]

############################################################################
#### Правка ссылок                                                      ####
############################################################################

# Удаление /////
RewriteCond %{THE_REQUEST} \s[^?]*//
RewriteRule ^.*$ /$0 [R=302,L,NE]
#Удалить косую черту в любом месте URL-адреса
RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
RewriteRule . %1/%2 [R=301,L]
# Правило 1: удалите несколько начальных косых черт (сразу после TLD)
RewriteCond %{THE_REQUEST} \s/{2,}
RewriteRule (.*) $1 [R=301,L]
# Правило 2: удалите несколько косых черт в запрошенном пути `введите код здесь`
RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
RewriteRule (.*) %1/%2 [R=301,L]

############################################################################
#### Переход с плохих доменов                                           ####
############################################################################

RewriteCond % baddomain\.ru [NC]
RewriteRule .* - [F]

############################################################################
#### Переопределение страниц ошибок                                     ####
############################################################################

#401 Авторизация не выполнена
ErrorDocument 401 errors/401.html
#403 Доступ запрещен
ErrorDocument 403 errors/403.html
#404 Страница не найдена
ErrorDocument 404 errors/404.html
#500 Внутренняя ошибка сервера
ErrorDocument 500 errors/500.html



############################################################################
#### Отоброжение католога файлов                                        ####
############################################################################

Options -Indexes



############################################################################
#### Главная страница сайта                                             ####
############################################################################

DirectoryIndex index.html



############################################################################
#### Включение обработки PHP в .html-файлах                             ####
############################################################################

RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html .phtml


# Используйте кодировку UTF-8 для обработки text/plain или text/html
AddDefaultCharset utf-8

# Принудительное использование UTF-8 для различных файлов
AddCharset utf-8 .atom .css .js .json .rss .vtt .xml