/* Themes
-----------------------------------------------------------------*/

/* Short code
-----------------------------------------------------------------*/

.br-10 {
    border-radius: 10px;
    overflow: hidden;
}

.br-20 {
    border-radius: 20px;
    overflow: hidden;
}


.br-40 {
    border-radius: 40px;
}

.txt-shadow {
    text-shadow: 0px 0px 64px rgba(0, 0, 0, 0.16);
}

.bs-6 {
    border: 6px solid #ffffff;
}


/* Components code
-----------------------------------------------------------------*/

.video-container {
    overflow: hidden;
    min-height: 400px;
    height: 95vh;
    width: 100%;
    position: relative;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.video-container videdotlottie-player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.lottie-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    clip: rect(auto, auto, 90vh, auto);
}



/* Tap Beat
-----------------------------------------------------------------*/
.tapbeat-main-bg {
    background-color: #01051A;
}

.tapbeat-dark-bg {
    background-color: #00072D;
}

.call-action-img .tapbeat-sec-bg::after {
    background: #00072D;
}


.tapbeat-loader-bg {
    fill: #00072D !important;
}

.tapbeat-bord-white {
    border: 6px solid #ffffff;
}

.butn-circle.tapbeat-butn-circle-bg:after {
    background: #00C2FF;
}

.tapbeat-hamenu {
    background: #01051A;
}

.tapbeat-main-color {
    color: #00C2FF;
}

.tapbeat-hamenu .menu-links::-webkit-scrollbar-thumb {
    background: #00C2FF;
}

.tapbeat-uikit-bg .swiper-slide .img {
    background-color: #00072D;
}





/* Alias
-----------------------------------------------------------------*/
.alias-main-bg {
    background-color: #6E0327;
}

.alias-dark-bg {
    background-color: #610222;
}

.alias-white-bg {
    background-color: #E4ECFF;
}

.call-action-img .alias-sec-bg::after {
    background: #610222;
}

.alias-loader-bg {
    fill: #6E0327 !important;
}

.alias-device {
    border-radius: 20px;
    border: 4px solid #E4ECFF;
    overflow: hidden;
}

.butn-circle.alias-butn-circle-bg:after {
    background: #EDF1FF;
}

.alias-hamenu {
    background: #47001A;
}

.alias-main-color {
    color: #BA1945;
}

.alias-hamenu .menu-links::-webkit-scrollbar-thumb {
    background: #BA1945;
}

.alias-uikit-bg .swiper-slide .img {
    background-color: #610222;
}




/* Miami-chill [mc]
-----------------------------------------------------------------*/
.mc-main-bg {
    background-color: #002120;
}

.mc-dark-bg {
    background-color: #032726;
}

.mc-white-bg {
    background-color: #E4ECFF;
}

.call-action-img .mc-sec-bg::after {
    background: #032726;
}

.mc-loader-bg {
    fill: #032726 !important;
}

.butn-circle.mc-butn-circle-bg:after {
    background: #13D7B7;
}

.mc-hamenu {
    background: #032726;
}

.mc-main-color {
    color: #13D7B7;
}

.mc-hamenu .menu-links::-webkit-scrollbar-thumb {
    background: #13D7B7;
}

.mc-uikit-bg .swiper-slide .img {
    background-color: #032726;
}

.mc-showreel {
     border-radius: 40px;
     border: 6px solid #ffffff;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-color: #032726;
}

.mc-skills .skill-item .item img {
    filter: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
  }
  


.anim-container {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px 16px 0px 16px;
    align-items: center;
}

.anim-container:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.9);
    transition: 0.4s;
}


.mc-bgpattern-tasks {
    background:
        url("/assets/imgs/works/projects/miami-chill/graffiti-paint-1.svg") left 20px top 20px no-repeat,
        url("/assets/imgs/works/projects/miami-chill/graffiti-elem-2.svg") right -40px center no-repeat;
    background-size: 100px, 200px;
}

.mc-bgpattern-showreel {
    background:
        url("/assets/imgs/works/projects/miami-chill/graffiti-full-1.svg") center no-repeat,
        url("/assets/imgs/works/projects/miami-chill/graffiti-paint-2.svg") right -40px top 60px no-repeat;
    background-size: cover, 200px;
}

.mc-bgpattern-brand {
    background:
        url("/assets/imgs/works/projects/miami-chill/graffiti-elem-3.svg") left -40px top 60px no-repeat;
    background-size: 200px;
}

.mc-bgpattern-uikit-info {
    background:
        url("/assets/imgs/works/projects/miami-chill/graffiti-paint-2.svg") left -60px top 20px no-repeat,
        url("/assets/imgs/works/projects/miami-chill/graffiti-elem-4.svg") right -40px bottom 30px no-repeat;
    background-size: 200px, 200px;
}

.mc-bgpattern-uikit-carousel {
    background:
        url("/assets/imgs/works/projects/miami-chill/graffiti-paint-2.svg") right -40px top 60px no-repeat;
    background-size: 200px;
}

.mc-bgpattern-motion-info {
    background:
        url("/assets/imgs/works/projects/miami-chill/graffiti-elem-2.svg") left -20px top 40px no-repeat,
        url("/assets/imgs/works/projects/miami-chill/graffiti-paint-1.svg") right 20px bottom 20px no-repeat;
    background-size: 150px, 100px;
}

.mc-bgpattern-motion-anim {
    background:
        url("/assets/imgs/works/projects/miami-chill/graffiti-elem-3.svg") left 40px bottom 40px no-repeat;
    background-size: 200px;
}





/* ====================== [ UI Kit Section Styles] ====================== */

.uikit-team-crev .swiper-slide .item:hover .info {
    opacity: 1;
    visibility: visible;
}

.uikit-team-crev .swiper-slide .item .info {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 1px;
    right: 1px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}



.uikit-team-crev .swiper-slide .item {
    position: relative;
}

.uikit-team-crev .swiper-slide .item .main-marq {
    position: absolute;
    bottom: 0;
    padding: 15px 0;
}

.uikit-team-crev .swiper-slide .item .main-marq .item {
    padding: 0 15px !important;
}

.uikit-team-crev .swiper-slide .item .main-marq .item h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 !important;
}

.uikit-team-crev .swiper-slide .item .main-marq.team-position {
    background: #1d1d1d;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotateZ(-5deg);
    -ms-transform: translateX(-50%) rotate(-5deg);
    transform: translateX(-50%) rotateZ(-5deg);
}

.uikit-team-crev .swiper-slide .item .main-marq.team-name {
    background: #fff;
    left: 0;
}

.uikit-team-crev .swiper-slide .item .main-marq.team-name h4 {
    color: #1d1d1d !important;
}

.uikit-team-crev .swiper-slide .img {
    position: relative;
    border-radius: 20px 20px 0 0;
    border: 4px solid #E4ECFF;
    border-bottom: 0;
    overflow: hidden;
}

.uikit-team-crev .swiper-slide:nth-of-type(even) .info {
    left: 0;
    right: 0;
}

.uikit-team-crev .swiper-slide:nth-of-type(even) .img {
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);

}





/* ====================== [ Start Responsive ] ====================== */


@media screen and (max-width: 1300px) {
    .lottie-bg {
        width: 120%;
    }
}

@media screen and (max-width: 992px) {
    .lottie-bg {
        width: 160%;
    }
}

@media screen and (max-width: 768px) {
    .lottie-bg {
        width: 240%;
    }

    .video-container {
        height: 70vh;
    }

}

@media screen and (max-width: 480px) {
    .lottie-bg {
        width: 280%;
    }
}